{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
         <img class="img-fluid img-thumbnail"src="{{ vich_uploader_asset(product) }}" alt="{{product}}">
            <div class="row">
                <p>Annonce posté par l'utilisateur <strong>{{ product.user.name }}</strong></p>
                <p>Catégorie : {{ product.category.nameCategory }}</p>
                <p>Publié le {{ product.dateProduct ? product.dateProduct|date('d-m-Y') : '' }}</p>
            </div>
        </div>
        <div class="col">
            <h1>{{ product}}</h1>
            <div class="row">
                <h2>Description</h2>
                <p>{{ product.descProduct }}</p>
            </div>
        </div>
    </div>
</div>
    {% if app.user == product.user %}
    <a href="{{ path('app_product_index') }}">Voir mes produits</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>

    {{ include('product/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
